<div class="container mt-5">
  <form>
    <progress *ngIf="fileStatus.status === 'progress'" id="file" [value]="fileStatus.percentage" max="100"> 32% </progress>
    <input type="file" (change)="onUploadFile($any($event.target).files)">
  </form>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Is Admin</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let index=index">
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ user.name }}</td>
        <td><img [src]="user.image" width="50" height="50" class="" alt=""></td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_admin }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
      </tr>
    </tbody>
  </table>
</div>
